* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* main layout styling */
#contents {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(./images/body_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: bold;
}

.main {
    flex: 1;
}

.footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* search and the subsequent result styling */
.search-and-result > * {
    border: thin solid black;
}

.search-and-result {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: thin solid red;
    max-width: 700px;
    height: 100px;
    position: relative;
    top: 300px;
    left: 30%;
    transform: translate(-30%, -200px);
}

.search {
    grid-column: 1 / 3;
}