* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* main layout styling */
#contents {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body {
    flex: 1;
}

.footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}